<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choix robot</title>
</head>
<body>
    <header class="textes">
        <h1> Bienvenue sur le serveur de controle à distance pour les robots</h1>
        <h2> Veuillez faire un choix :
            quel robot souhaitez-vous controler ?
        </h2>
    </header>

    <div class="choix-boutons">
        <button class="comic-button" onclick="location.href='/manipNao';">Nao</button>
        <button class="comic-button" onclick="location.href='/manipPepper';">Pepper</button>
    </div>
</body>
</html>
